#Navitab ingame-ui#Panel {
    width: 100%;
    height: 100%;
}
#Navitab ingame-ui#Panel #AllParts {
    position: absolute;
    left: 0px;
    top: 0px;
    min-width: 400px;
    max-width: 1600px;
    min-height: 344px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    background-color: DarkKhaki;
}
#Navitab ingame-ui#Panel #AllParts #ToolbarPart {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 24px;
    background-color: Chartreuse;
}
#Navitab ingame-ui#Panel #AllParts #ToolbarPart #ToolbarStatus {
    position: absolute;
    left: 4px;
    top: 4px;
}
#Navitab ingame-ui#Panel #AllParts #ToolbarPart #ToolbarTools {
    position: absolute;
    right: 4px;
    top: 0px;
    height: 24px;
    background-color: Chartreuse;
    z-index: 1;
}
#Navitab ingame-ui#Panel #AllParts #ModebarPart {
    position: absolute;
    left: 0px;
    top: 24px;
    width: 40px;
    margin: 0px;
    background: rgba(255, 255, 255, 0.2);
}
#Navitab ingame-ui#Panel #NavitabDisplay {
    display: flex;
    width: 100%;
    height: 100%;
}
#Navitab ingame-ui#Panel #NavitabDisplay #NavitabCanvas {
    display: block;
}
#Navitab ingame-ui#Panel #ScratchArea {
    display: none;
    width: 100%;
    height: 0%;
}
#Navitab ingame-ui#Panel #ScratchArea #ImageBuffer {
    display: none;
}
